Alias /squidreport {{ squidanalyzer_web }}/squidanalyzer     
<Directory {{ squidanalyzer_web }}/squidanalyzer>            
    Options -Indexes +FollowSymLinks +MultiViews
    AllowOverride None                        
</Directory>                                  
