Alias /squidreport {{ squidanalyzer_web }}
<Directory {{ squidanalyzer_web }}>            
    Options -Indexes +FollowSymLinks +MultiViews
    AllowOverride None                        
</Directory>                                  
